:root {
    --niebieski:#08A6E4;
    --rozowy:#FB3B64;
    --błękitny:#55DFB4;
    --czarny:#000000;
    --szary:#707070;
    --jasny-szary:#95989A;
    --najjasniejszy-szary:#A5A5A5;
    --biały:#FFFFFF;
}

body {
    box-sizing: border-box;
    font-family:"Open Sans", sans-serif;
}

.container {
    margin:0 auto;
    width:1352px;
}

/* tutaj zaczyna się header.......................................................................................
.................................................................................................................*/
.header {
    box-shadow: 0 3px 6px #00000029;
    position:fixed;
    width:100%;
}

.navigation {
    top:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.navigation__logo {
    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 32px;
    color: var(--niebieski);
}
.navigation__list {
    display:flex;
}

.navigation__button a {
    text-decoration: none;
    font-weight: bold;
    font-size:16px;
    line-height: 70px;
    padding:0 8px;
    margin-left:50px;
    color:var(--najjasniejszy-szary);
}
.navigation__button a.no-margin{
    margin-left:0;
}
.navigation__button a:hover {
border-bottom:4px solid var(--niebieski);
    padding:20px 6px;
    color:var(--czarny);
}
/*tu zaczyna się sekcja z tłęm z laptopem.........................................................................
...................................................................................................................*/
.section {
    top:200px;
    position:relative;
    background-image: url("../images/Background.png");
    height:712px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.section__content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section__title {
    font-family: "Raleway", sans-serif;
    font-size:49px;
}

.section__text {
    font-size:16px;
    margin: 25px 0;
}

.section__button {
    font-size:16px;
    border:none;
    color:var(--biały);
    background-color: var(--niebieski);
    padding:15px 145px;
    border-radius: 45px;
    margin-top:20px;
    box-shadow: 5px 10px 14px #07ACE629;
}
/*tu zaczyna się sekcja z licznikami............................................................................
...............................................................................................................*/
.section1{
    position:relative;
    top:200px;
    height:531px;
    background-color: var(--biały);
}

.section1__content {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section1__title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    margin:100px 0;
}

.section1__boxes {
    display:flex;
}

.section1__box {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0 110px ;
    width:140px;
    text-align: center;
    position:relative;
}

.section1__box div {
    position:relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:100px;
    height:100px;
}

.section1__box div::before {
    content:"";
    display:block;
    width: 63px;
    height:63px;
    border-radius: 50%;
    background-color:var(--rozowy);
    position:absolute;
    right:20px;
}

.section1__box div.second-icon::before{
    background-color: var(--niebieski);
}

.section1__box div.third-icon::before{
    background-color: var(--błękitny);
}

.section1__icon {
    position:absolute;
}
.section1__numbers-title {
font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight:800;
}

.section1__text {
    margin-top:25px;
    color:var(--najjasniejszy-szary);
    font-family: "Raleway", sans-serif;
    font-size:16px;
}
/*tu zaczyna się sekcja z reklamami................................................................................
.................................................................................................................*/
.section2 {
    position:relative;
    top:200px;
    background-color:#F7F7F7;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.section2__article {
    width:1124px;
    height:370px;
    background-color:var(--biały);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.section2__article:first-child {
    margin-top:105px;
}

.section2__article:nth-child(2){
    margin-top:34px;
}

.section2__article:nth-child(3) {
    margin-top:34px;
    margin-bottom:105px;
}

.section2__article-content {
    margin:60px 40px;
    width:50%;
}

.section2__article-content:nth-child(2){
    width:40%;
    margin-right:0;
}

.section2__article-content::after {
    content:"";
    display:block;
    height:35px;
    width:370px;
    border-bottom:3px solid var(--rozowy);
}

article.section2__article:nth-child(2) div.section2__article-content::after{
    border-bottom:3px solid var(--niebieski);
}

article.section2__article:nth-child(3) div.section2__article-content::after{
    border-bottom:3px solid var(--błękitny);
}


.section2__article-title {
    font-family: "Raleway", sans-serif;
    font-size:36px;
    width:70%
}

.section2__article-text {
    font-size: 16px;
    margin:45px 0;
}

.section2__article-img {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
    position:relative;
}

.section2__article-img::after{
    content:"";
    display:block;
    position:absolute;
    z-index: 0;
}

.section2__article:first-child .section2__article-img::after {
    width:200px;
    height:200px;
    background-color: var(--rozowy);
    border-radius: 31px;
    transform: rotate( 45deg );
    right:105px;
}

.section2__article:nth-child(2) .section2__article-img::after {
    width:320px;
    height:320px;
    background-color: var(--niebieski);
    border-radius: 50%;
    right:150px;
    top:-10px;
}

.laptop {
    width:386px;
    height:219px;
    position:relative;
    z-index: 5;
   padding-top:90px;
    padding-right: 90px;
}

.phone {
    width:426px;
    height:328px;
    position:relative;
    z-index: 5;

}

.trumpet {
    padding-top:30px;
    width:295px;
    height:207px;
}

.section2__article:nth-child(3) {
    background-color:#F7F7F7;
    border:none;
}

.section2__article:nth-child(3) .section2__article-content {
    background-color:var(--biały);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    height:100%;
    width:50%;
    justify-self: flex-start;
    margin-left:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-left:40px;
}

.section2__article:nth-child(3) .section2__article-img {
    background-color:var(--błękitny);
    border-radius: 5px;
    border: 1px solid #E8E9ED;
    height:100%;
    width:40%;
}


/*tu zaczyna się sekcja z produktami ...............................................................................
...................................................................................................................*/

.section3 {
    position:relative;
    top:200px;
}

.section3__Content {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top:100px;
    margin-bottom:120px;
}

.section3__title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    margin-bottom:45px;
}

.section3__products {
    display:flex;
    align-items: center;
    justify-content: center;
}

.section3__product {
    border:1px solid;
    margin:0 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:30px 80px;
    border-radius: 18px;
    position:relative;
}

.section3__product_big {

}

.section3__product:first-child {
    border-color: var(--rozowy);
}

.section3__product:nth-child(2) {
    border-color: var(--niebieski);
    box-shadow: 5px 10px 27px #07ACE629;
}

.section3__product:nth-child(3) {
    border-color: var(--błękitny);
}

.product__bundle {
    text-align: center;
    padding:40px;
}

.product__title {
    font-family: "Raleway", sans-serif;
    font-weight:bold;
    font-size:20px;
}

.product__price {
    font-weight: lighter;
    font-size:46px;
    padding:20px;
}

.section3__product:first-child .product__price {
    color: var(--rozowy);
}

.section3__product:nth-child(2) .product__price {
    color: var(--niebieski);
}

.section3__product:nth-child(3) .product__price {
    color: var(--błękitny);
}

.product__limited {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size:12px;
}

.section3__product:first-child .product__limited {
    visibility: hidden;
}

.product__bundle-item {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-bottom:20px;
}

.section3__product_big .product__bundle-item {

    margin-bottom:30px;

}

.section3__product_big .product__bundle-item:nth-child(5) {

    margin-bottom:0;

}
.product__bundle-item:nth-child(5) {
    margin-bottom: 0;
}


.product__text {
    font-size:14px;
}

.product__checkboxY {
    margin-right: 10px;
    width: 5px;
    height: 5px;
    padding:3px;
    border-radius: 2px;
    border: 1px solid var(--błękitny);
}

.product__checkboxF {
    margin-right: 10px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    color: var(--rozowy);
    font-size: 9px;
    border-radius: 2px;
    padding: 0px 3px 1px 3px;
    border: 1px solid var(--rozowy);
}

.product__button {
    color: var(--biały);
    font-weight: bold;
    font-size:13px;
    border:none;
    padding:16px 64px;
    background-color: #222222;
    border-radius: 23px;
    position: absolute;
    bottom:-25px;
}

.section3__product:first-child .product__button {
    background-color: var(--rozowy);
}

.section3__product:nth-child(2) .product__button {
    background-color: var(--niebieski);
    box-shadow: 5px 10px 14px #07ACE629;
}

.section3__product:nth-child(3) .product__button {
    background-color: var(--błękitny);
}


/*tu zaczyna się formularz kontaktowy.............................................................................
..................................................................................................................*/

.section4 {
    width:60%;
    margin:0 auto;
    position:relative;
    top:200px;
    display:flex;
    justify-content: space-between;
    margin-bottom:70px;
}


.contact__title {
    font-family: "Raleway", sans-serif;
    font-size:49px;
    padding-bottom: 20px;
}

.contact__text {
    font-size:16px;
}

.contact__info {
    display:flex;
    padding-top:36px;

}

.contact__info-mail,
.contact__info-phone {
    display:flex;
    align-items: center;
    font-size:16px;
    color:var(--najjasniejszy-szary);
}

.contact__info-mail{
    margin-right:20px;
}

.info-mail__img,
.info-phone__img {
    margin-right: 10px;
}

.contact__form  {
    width:400px;
    display:flex;
    flex-direction: column;
}

.contact__form div {
    display:flex;
}

.contact__form label {
    font-weight: bold;
    font-size:11px;
    color:var(--niebieski);
    margin-bottom:10px;
}

.contact__form input {
    border:none;
    border-bottom: 2px solid var(--jasny-szary);
    margin-bottom:15px;
}

.contact__form div label {
    font-size:12px;
    color:var(--szary);
}

.contact__form input.form__button {
    font-weight: bold;
    font-size:13px;
    color:var(--biały);
    border-bottom:none;
    text-decoration: none;
    border-radius:30px;
    background-color: var(--niebieski);
    box-shadow: 5px 10px 14px #07ACE629;
    padding-top:15px;
    padding-bottom:15px;
    width:150px;
    margin-top:15px;
    align-self: flex-end;
}


/*tu zaczyna się footer..........................................................................................
.....................................................................................................................
...................................................................................................................*/

.footer{
    position:relative;
    top:200px;
    width:100%;
    background-color:#F7F7F7 ;
    box-shadow: 0px -5px 40px #00000029;
}

.footer__content {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.logo {

    font-family: "Raleway", sans-serif;
    font-weight: lighter;
    font-size: 26px;
    color:var(--niebieski);
    padding-top:20px;
}

.footer__logo .copyright {
    font-size:11px;
    color: var(--najjasniejszy-szary);
    padding-top:15px;
    padding-bottom: 20px;
}

.footer__links {
    display:flex;
}

.Facebook-link {
    margin-left:20px;
}

