:root {
    --niebieski:#08A6E4;
    --rozowy:#FB3B64;
    --błękitny:#55DFB4;
    --czarny:#000000;
    --szary:#707070;
    --jasny-szary:#95989A;
    --najjasniejszy-szary:#A5A5A5;
    --biały:#FFFFFF;
}
